[submodule "0x18-dynamic_libraries/alx-low_level_programming/0x18-dynamic_libraries"]
	path = 0x18-dynamic_libraries/alx-low_level_programming/0x18-dynamic_libraries
	url = https://github.com/holbertonschool/0x18.c.git
